
.vscode/
.vscode-test/**           
**/tsconfig.json          
**/.eslintrc.json         
**/*.map                  
**/*.ts                   
node_modules
webpack.config.js
esbuild.config.js

!out/
!out/extensions.js